<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- animate  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Style-css  -->
    <link rel="stylesheet" href="/Stylesheet/style.css">
    <title>Form</title>
</head>
<body>
    
    <!-- Navbar  -->
    <header class="main-header">
        <div class="main-header__logo-container">

            <h4 class="main-header__logo-text ">Company-Name</h4>
        </div>
        <nav class="main-header__navigation ">
            <ul class="main-header__navigation-links  ">
                <li class="main-header__navigation-link"><a href="/">
                        <i class="fa-solid fa-house"></i> Home </a></li>
                <li class="main-header__navigation-link"><a href="/"> <i
                            class="fa-solid fa-address-card"></i> About </a></li>

                <li class="nav-item dropdown main-header__navigation-link">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-fill"></i> Form
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item main-header__navigation-link" href="/tour">Tour-Form</a></li>
                        <li><a class="dropdown-item main-header__navigation-link" href="#">More-Form</a></li>
                    </ul>
                </li>

                <li class="main-header__navigation-link"><a href="/"><i
                            class="fa-solid fa-address-book"></i> Contact </a></li>
                <li class="nav-item dropdown main-header__navigation-link">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <!-- Font-Awesome  -->
                        <i class="fa-regular fa-user"></i>
                        <!-- EJS  -->
                        <%= name %>
                    </a>
                    <ul class="dropdown-menu">
                        <form action="/logout?_method=DELETE" method="POST">
                            <li><a class="dropdown-item main-header__navigation-link"><button type="submit">Log
                                        Out</button></a></li>
                        </form>
                    </ul>
                </li>
            </ul>
        </nav>

    </header>

    
    <section class="home-hero">
        <div class="home-hero__content">
            <div class="home-hero__info">
                <div class="home-hero_CheckImg mb-2">
                    <!-- Icons.in img  -->
                    <img src="images/Check.gif" alt="Not-found">
                </div>
                <h1 class="heading-primary home-hero__heading-primary">
                    Thank you for Submitting
                </h1>
                <a href="/"> <button class="btn btn-theme home-hero__btn-form_submit">GO BACK</button>
                </a>
            </div>

        </div>
    </section>


    <!-- bootstrap JS  -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>